font-family: 'Alegreya Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;


h1 h2 h3 h4 h5 h6 {
  font-family: 'Lobster', cursive;
}

table, th, td {
  border: 1px solid black;
}

th {
  width: 100px;
}
